<div class="container"> 
  <form method="post" action="/posts/<%= @post.id %>/comments"> 
    <label>text</label> 
    <textarea name="comment[body]" rows="4" cols="30"></textarea><br> 
    <br> 
    <input class="btn btn-default" type="submit" value="submit">
  </form> 
</div> 