<h2> Welcome To Hackerette News </h2>
   <p> Please Sign In: </p>


<form method= "post"  action= "/posts/new">
  Username:<br>
  <input type="text" name="Username">
  <br>
  Email:<br>
  <input type="email" name="Email">
  <br>
  Password:<br>
  <input type="password" name="Password">
  <br>
  <br>
  <input type="submit" value="Sign-In">
</form>

