<h5> Welcome To Hacker News </h5>
   <p> Please Sign In: </p>


<form method= "post"  action= "/posts">
  Username:<br>
  <input type="text" name="Username">
  <br>
  Email:<br>
  <input type="email" name="Email">
  <br>
  Password:<br>
  <input type="password" name="Password">
  <br>
  <br>
  <input type="submit" value="Sign-In">
</form>

</form>
