<div class="container">
  <h2>SIGN UP</h2>
</div>
<ol class="form">
  <form method="post" action="/users/new">
    <li><input id="name" name="user[name]" placeholder="Username"></li>
    <li><input id="password_hash" name="user[password_hash]" placeholder="Password"></li>
    <li><input type="submit" value="sign up"></li>
  </form>
</div>
