<h2> Welcome To Hackerette News </h2>
   <p> Please Sign In: </p>

<div class="container"> 
  <form method="post" action="/login">
    <h3> Login </h3>  
    <label>username:</label> 
    <input type="username" name="user[username]" type="text" placeholder="username"><br> 
    <label>password:</label> 
    <input type="password" name="user[password]" type="password" placeholder="password">
    <input type="submit" value="login"> 
  </form>

  <form method="post" action="/signup"> 
    <h3> Signup </h3>  
    <label>username:</label> 
    <input type="username" name="user[username]" type="text" placeholder="username"><br>
    <label>password:</label> 
    <input type="password" name="user[password]" type="password" placeholder="password">
    <input type="submit" value="signup"> 
  </form> 
</div> 