h1> You Have Edited Your Entry.  Take One Last Look: </h1>
  <%@post.body%>

<form action="/entries<%=@entry.id%>" method= "post">
<input type="hidden" name="_method" value="put">
  Title:<br>
  <input type="text" name="entry[body]">
  <br>
  Post:<br>
  <input type="text">
  <textarea rows="4" cols="50">
  </textarea>
  <br><br>
  <input type="submit" value="Return For Homepage!">
</form>

<form action="/entries/<%=@entry.id%>/delete" method= "post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete post">
</form>
