<div class="container">

  <h1>Welcome To Hacker NEWS</h1>
  <p> START POSTING HERE:</p>


<form action="/posts"   method = "post">
   <label>Title:<label>
     <input type="text" name="post[title]"</input>
    <br>
   <label>Link<label>
     <input type="text" name="post[url]"</input>
    <br>
   <label>text<label>
     <textarea  name="post[body]" rows="4" cols="50"></textarea>
    <br>
  <input class="btn btn-default"  type="submit" value="Click Here To Submit">
  </form>
</div>

 

