<h3><%=post.title%><h3>
<h2><%=post.body%><h2>
  <form action= '/posts/<%=post.id%>/edit' method ="get">
    <input type="submit" value="edit">
    <br>
    <form action= '/posts/<%post.id %>' method ="post">
      <input type="hidden" name="_change" value="delete"
  </form>
