<h1>Create a new category</h1>

<form method="POST" action="/categories/:id">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="description" placeholder="Description"/>
  <input type="submit" value="Create new category" />
</form>

<p><a href="/categories">Back to Categories</a></p>
