<form method="POST" action="/products/:id">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="price" placeholder="Price"/>
  <input type="text" name="description" placeholder="Description"/>
  <input type="text" name="color" placeholder="Color"/>
  <input type="submit" value="Create new product" />
</form>

<p><a href="/products">Back to Products</a></p>
